
/* MOBILE */

#artists h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8rem;
  margin: 0;
}

#artists h3 {
  margin-top: 0.3em;
}

.articlewrap {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.articlewrap article {
  display: grid;
  grid-template-columns: 1fr 1fr; /* creates a default of 2 columns */
  grid-template-rows: repeat(5, auto); /*by default, grid is going to assign each element inside of a card / article its own row.*/
  gap: 0 1rem; /* gives us gap between the image and the text */
}

.articlewrap article * {
  grid-column: 2/3; /* states we want everything in the second column */
  margin-top: 0;
}

.articlewrap article img {
  grid-column: 1/2; /* puts images on left-hand side. */
  grid-row: 1/6; /* has the image span over all 5 of our rows and have the content stack together */
}

/* TABLET */

@media (min-width: 650px) {
  .articlewrap {
    display: grid; /* overrides earlier declaration for display: flex */
    grid-template-columns: repeat(2, minmax(10px, 1fr)); /* minmax ensures that the grid cells don't get too small */
  }
}

/* DESKTOP */
@media (min-width: 1000px) {
  .articlewrap {
    grid-template-columns: repeat(4, minmax(10px, 1fr)); /* tells grid to switch to 4 columns, instead */
  }
  .articlewrap article {
    grid-template-columns: minmax(100px, 1fr); /* this occurs inside of the article. w/o minmax the photos disappear except for 1st */
    grid-template-rows: repeat(5, auto); /* rows need to be specified, again */
    gap: 0 1em;
  }
  .articlewrap article * { /* this rearranges all elements to get image back in same place as text */
    grid-column: 1/2;
  }

  /* the elements don't line up exactly for desktop and they didn't for the instructor's code...maybe due to images not being the same size OR they are not scaling the same for some reason. */
}

/* default styling, no changes needed here */

/* set the layout to border box model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* set font family and background gradient */
body {
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  background: rgb(213,230,124);
  background: linear-gradient(324deg, rgba(213,230,124,1) 0%, rgba(80,255,233,1) 35%, rgba(0,212,255,1) 100%);
  background-attachment: fixed; /* makes bg gradient fixed throughout resizing */
}
img {
  width: 100%;
}
