/* default styling, no changes needed here */

/* set the layout to border box model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* set font family and background gradient */
body {
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  background: rgb(213,230,124);
  background: linear-gradient(324deg, rgba(213,230,124,1) 0%, rgba(80,255,233,1) 35%, rgba(0,212,255,1) 100%);
}
img {
  width: 100%;
}
